
<table class="table table-bordered table-hover table-striped tablesorter tablesorter-blue" id="event_scorecard">
  <thead>
  <tr>
    <th></th>
    <% @event.users.each do |j| %>
      <th><%= j.name %></th>
    <% end %>
    
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <% @event.contestants.each do |con| %>
    <tr>
      <td><%= con.name %></td>
      <% @event.users.each do |j| %>
      <td><%= con.score_event(con.scorecards, @event, j)  %></td>
      <% end %>
      
      <td><%= con.total_score(con.scorecards, @event, @event.users) %></td>
    </tr>
  <% end %>
  <tr>
    

  </tr>
  </tbody>
</table>


























