<table class="table table-bordered table-hover table-striped tablesorter tablesorter-blue" id="event_scorecard">
  <thead>
  <tr>
    <th></th>
      <% @event.contestants.each do |con| %>
        <th><%= con.name %></th>
      <% end %>
    
  </tr>
  </thead>
  <tbody>
  <% @event.users.each do |j| %>
    <tr>
      <td><%= j.name %></td>
      
      <% @event.contestants.each do |con| %>
        <td><%= con.score_event(con.scorecards, @event, j)  %></td>
      <% end %>

    </tr>
  <% end %>
  <tr>
    <th>Total</th>
    <% @event.contestants.each do |con| %>
        
        <td><%= con.total_score(con.scorecards, @event, @event.users) %></td>
      
    <% end %>

  </tr>
  </tbody>
</table>

























