
<div class="container col-md-6">
<h1><%= link_to "Events", event_index_path %></h1>
  <p>Click here for the list of all events. </p>
</div>




<div class="container pull-right col-md-6">
<h1><%= link_to "Contestants", contestant_index_path %></h1>
  <p>Click here for the list of all contestants. </p>
</div>