<h1>Events</h1>

<%= link_to "Create New Event", new_event_path %>
<p>
  <ul>
<% @events.each do |event| %>
<li> <%= event.name %> <br />
  <%= link_to "Score this Event", event_path(event) %> ||  <%= link_to "Total Scores", scorecard_path(event.id) %></li>
<% end %>
</ul>
</p>