<h1>New Event</h1>


<%= simple_form_for(@event, url: {action: :create, controller: :event}, method: :post) do |f| %>
  <%= f.input :name  %>
  <%= f.input :date  %>
  <%= f.submit "Create" %>

<% end %>
