<h1>Contestant</h1>

<%= link_to "Add New Contestant", new_contestant_path %>
<p>
  <ul>
<% @contestants.each do |c| %>
 <li> <%= link_to c.name, contestant_path(c) %> <%= button_to "Delete Contestant", contestant_path(c.id), method: :delete %> </li>
<% end %>
</ul>
</p>